body{
    background-image: linear-gradient(to right, #f2c268, #704E0F);
}



main{
    background-color: white;
    width: 600px;
    padding:10px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 10px 20px 17px rgba(0, 0, 0, 0.37);
}

h1{
    color: #c7a057;
    text-align: center;
   text-shadow: 5px 5px 4px #f3ddb3;


h2{
    color: #c5b18c;
}

p{
    text-align: justify;
}